                                   /*body part */
@font-face {
    font-family: 'inter';
    src: url(../fonts/inter.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'inter';
  box-sizing: border-box;  
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 20px;
}                             /* banner section */
.banner {
    padding: 5px 3%;
    background-color: #35b8be;
    background-image: url("./images/header-image.svg");
    background-repeat: no-repeat;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
}
.link-text {
    font-weight: 600;
    color: white;
    text-decoration: none;
}                            /* Navigation part*/
.navigation-container {
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation-right a {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    text-decoration: none;
}
.navigation-right button {
    padding: 13px;
    height: 55px;
    width: 55px;
    background-color: #35b8be;
    background-image: url("../images/header-image.svg");
    border: none;
    border-radius: 4px;
    background-repeat: no-repeat;
}
.btn-content {
    position: relative;
}
.btn-count {
    position: absolute;
    top: -6px;
    right: -6px;
    box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
    background-color: white;
    color: #35b8be;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 100px;
    width: 25px;
    height: 25px;
}                             /* hero content*/
.hero-content {
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("./images/hero-background.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100% 0%;
    margin-bottom: 200px;
}

.hero-content__images-part {
    background-image: url("./images/");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}
.hero-content-title{
    max-width: 580px;
    margin-bottom: 20px;
    color: #08090a;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -0.03em;
}
.span {
    color: #35b8be;
    font-size: 60px;
}
.hero-content-description{
    color: #546285;
    font-size: 18px;
    line-height: 1.34;
    font-weight: 400;
}
.product-container-btn {
    min-height: 60px;
    padding: 20px 45px;
    border-radius: 6px;
    background-color: #35b8be;
    margin-top: 40px;
    margin-bottom: 30px;
    border: #fff;
    background-image: url(./images/btn-image.svg);
    color: #fff;
    font-size: 18px;
}
.hero-content-btn {
    min-height: 60px;
    padding: 20px 45px;
    border-radius: 6px;
    background-color: #35b8be;
    margin-top: 45px;
    margin-bottom: 30px;
    border: #fff;
    background-image: url(./images/btn-image.svg);
    color: #fff;
    font-size: 18px;
} 
.button p{
    text-decoration: none;
    color: whitesmoke;
}

.hero-content-rating{
    font-size: 16px;
    color: #08090a;
    margin-top: 10px;
}

.span-color{
    color: #35b8be;
    font-size: 16px;
    margin-top: 10px;
} 
.pic {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
    margin-top: 30px;
}                           /* product section*/
.product-container-bg {
    display: flex;
    padding: 20px 6%;
    background-color: transparent;
    background-position: 50% 50%;
    background-image: url(./images/backgroun\ 2.svg);
    background-repeat: no-repeat;
    gap: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 200px;
    background-size: 96% 90%;
    padding: 100px 3%;
    align-items: center;
    gap: 44px;
  
}
.hero-content-images-part {
    margin-top: 100px;
    padding: 5px 3%;
}
.product-container-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #35b8be;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}
#food-content {
    
}
.food-content-title {
    text-align: center;
    font-size: 55px;
    color: #35b8be;
}
.content-title {
    font-size: 20px;
    font-weight: 700;
}
.product-container-description {
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
#food-content-main-card {
    display: flex;
    gap: -20px;
}
.clik-button {
    margin-top: -20px;
    min-height: 60px;
    padding: 20px 35px;
    border-radius: 6px;
    background-color: #35b8be;
    margin-top: -40px;
    border: #fff;
}
.clik-button a {
    text-decoration: none;
    color: #fff;
}   
                        /*work container */
.work-container-menu {
    display: flex;
    justify-content: space-between;
}
.work-container-title {
    font-size: 55px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #35b8be;
}
.paragraph-part {
    text-align: center;
    margin-bottom: 100px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-top: 40px;
}
.texting-div {
    display: flex;
    justify-content: space-around;
}
.sec {
    width: 400px;
    vertical-align: middle;
    display: inline-block;
}
.menu-card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    color: #08090a;
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.menu-card-description {
    margin-bottom: 250px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-left: 80px;
}
                    /* food content */
.food-content {
    padding: 100px 3%;
}
.food-content-title-description {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
.food-content-description {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
.food-content-link {
    color: #35b8be;
    font-size: 18px;
    text-decoration: none;
}
.food-btn {
    min-height: 60px;
    padding: 20px 45px;
    border-radius: 6px;
    background-color: #35b8be;
    margin-top: 45px;
    margin-bottom: 30px;
    border: #fff;
    background-image: url(./images/btn-image.svg);
    color: #fff;
    font-size: 18px;
}
.button-part{
    text-align: center;
    gap: 50px;
    margin-top: 50px;
}
.type-button {
    border-color: rgba(97, 114, 131, 0);
    border-radius: 6px;
    background-color: #35b8be;
    color: #fff;
    padding: 15px;
    padding-left: 45px;
    padding-right: 45px;
}
.burger {
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
.input {
    width: 60px;
    height: 45px;
    margin-right: 8px;
    margin-bottom: 0px;
    border-radius: 6px;
    text-align: center;
}
.submit {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #35b8be;
    color: #fff;
    border: #fff;
}                                  /* works parts */
#food-content-bg {
    background-image: url(./images/background.svg);
    background-repeat: no-repeat;
}
.food-content-btn {
    margin-bottom: 40px;
    margin-top: -50px;
    text-align: center;   
}
.content-btn{
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    min-height: 52px;
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 45px;
    padding-left: 45px;
    border-color: rgba(97, 114, 131, 0.2);
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
}
.button-part button a {
    text-decoration: none;
    color: #fff;
    margin: 20px;
}
.food-content-cart {
    display: flex;
    margin-left: 100px;
    width: 650px;
    height: 210px;
    border-radius: 7px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(53, 184, 190, 0.15);
    transition: border-color 300ms ease;
    margin-bottom: 30px;
    margin-right: -80px;   
}
.dremes-section {
    margin-top: 26px;
    margin-left: 20px;
}
.imges-part {
    margin-top: 40px;
    margin-left: 20px;
}
.food-content-title {
    font-size: 55px;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #35b8be;
}
.food-content-description {
    margin-bottom: 10px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
.food-content-usd p{
    color: #35b8be;
    font-size: 16px;
    font-weight: 400;
    margin-top: 35px;
    margin-left: -100px;
}
#food-content-bg {
    
}
.food-content-left{
    margin-left: 20px;
}
.food-content-right {
    margin-right: -20px;
}
.type-menu {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #35b8be;
    color: #fff;
    border: #fff;
    text-align: center;
}                                   /* logo images parts */
.full-menu{
    text-align: center;
    margin-top: 50px;
}
.type-menu a {
    text-decoration: none;
    width: 90px;
    color: #fff;
    
}
.phone-pic {
    width: 600px;
    height: 600px;
    margin-left: 100px;
}
.SAQ-text {
    margin-top: 150px;
    margin-left: 50px;
}
.naving {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #35b8be;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.lorem-nav {
    margin-bottom: 30px;
    margin-top: 20px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
.sides-section {
    display: flex;
    margin-top: 200px;
}
.FAQ-section {
    display: flex;
    gap: 50px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 40px;
    margin-left: 40px;
    background-image: url(https://assets.website-files.com/5e865e09d8efa3310676b585/5e865e09d8efa3b4c076b5ee_BG%20Shape%20Content.svg)
}
.margin-div {
    margin-left: 150px;
    margin-top:100px;
}
.since {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #35b8be;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.lorem-since {
    margin-bottom: 10px;
    color: #546285;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.02em;
}
                                    /* footer part */
.footer-content {
    display: flex;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
}
.footer-content-title {
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: 50px;
    color: #fff;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.03em;
}
.footer-content-right {
    background-color: #35b8be;
    margin-left: 60px;
    width: 50%;
    margin-right: 40px;
}
.footer-content-left {
    width: 50%;
    margin-left: 40px;   
}
.footer-content-btn {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    color: #35b8be;
    border: #fff;
    margin-left: 50px;
    margin-top: 30px;
}
.footer-content-btn a {
    text-decoration: none;
}
span {
    color:  rgba(0, 0, 0, 0.225);
    font-size: 55px;
}














